{% extends "roma/gridA.html" %}
{% load staticfiles i18n macros %}
{% loadmacros pois/pois_macros.html %}

{% block head_title %}
{% if list_type == 'recent' %}{% trans "Resources recently added to" %} RomaPaese{% endif %}
{% if list_type == 'updates' %}{% trans "Resources recently added or updated" %}{% endif %}
{% if list_type == 'networks' %}{% trans "Organizations by number of affiliated resources" %}{% endif %}
{% if list_type == 'maps' %}{% trans "Organizations by extent of friend resources" %}{% endif %}
{% if list_type == 'my_resources' %}{% trans "My resources" %}{% endif %}
{% endblock %}

{% block title-page %}
{% if list_type == 'recent' %}{% trans "Resources recently added to" %} RomaPaese{% endif %}
{% if list_type == 'updates' %}{% trans "Resources recently added or updated" %}{% endif %}
{% if list_type == 'networks' %}{% trans "Organizations by number of affiliated resources" %}{% endif %}
{% if list_type == 'maps' %}{% trans "Organizations by number of friend resources" %}{% endif %}
{% if list_type == 'my_resources' %}{% trans "My resources" %}{% endif %}
{% endblock %}
{% block no-view-map %}{% endblock %}

{% block list %}
    {% if poi_dict_list %}
      <div id="resources" class="visualClear pT10">
        {% if list_type == 'networks' or list_type == 'maps' %}
          <ul class="elenco elenco-vertical marg-left-0 txt-medium">
             {% for poi_dict in poi_dict_list %}
               <li>{% if poi_dict.logo %}<img src="{{ poi_dict.logo }}" width="32" height="32" />{% endif %}
                   <a class="alfa-blue-normal" href="{{ poi_dict.url }}" title="{% trans "show the resource profile" %}"><span class="notranslate">{{ poi_dict.name }}</span></a>
               {% if list_type == 'networks' %}
                 [ <a class="alfa-blue-normal" href="{{ poi_dict.url }}rete/" title="{% trans "show the network of affiliated resources" %}">{{ poi_dict.num_pois }}</a> ]
               {% else %}
                 [ (<a class="alfa-blue-normal" href="{{ poi_dict.url }}mappa/" title="{% trans "show the map of friend resources" %}">{{ poi_dict.num_pois }}</a>) ]
               {% endif %}
               </li>
             {% endfor %}
          </ul>
        {% else %}
          {% for poi_dict in poi_dict_list %}
            <div class="row">
              <div class="span10">{% trans "Category" %}: {{ poi_dict.category }},
              {% trans "User" %}: {{ poi_dict.owner }} {% if poi_dict.careof.name %}(<span class="notranslate">{{ poi_dict.careof.name }}</span>){% endif %},
              {% trans "Date" %}: {{ poi_dict.modified }}</div>
            </div>
            {% usemacro poi_list_item %}
          {% endfor %}
        {% endif %}
        </div>
    {% else %}
        <p>{% trans "No resource is present" %}.</p>
    {% endif %}
{% endblock %}

{% block blog %}{% endblock %}
