{% extends "fairvillage/fairvillage_base.html" %}
{% load staticfiles i18n set_var %}

{% block head_title %}{{ poi_dict.prefixed_name }}, {{poi_dict.comune.0}}{% if poi_dict.comune.1 != 'roma' %} - {{ poi_dict.zone_parent }}{% else %} - {% for zone in zone_list %}{{zone.name}}{%if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% endblock %}
{% block meta_description %}{{ poi_dict.short }} | {{ poi_dict.category }}{% endblock %}
{% block extra_meta %}<meta name="date" content="{{ poi_dict.modified }}">{% endblock %}


{% block body_id %}poi_detail{% endblock %}

{% block content %}
    <div class="mT20">
        <div class="row mB10">
            <div class="col-md-12">
                <div class="segnaposto">{% if poi_dict.comune.1 != 'roma' %}{{ poi_dict.zone_parent|upper }} - {% endif %}{{ poi_dict.comune.0|upper }}</div>
            </div>
            <div class="col-md-12">
                <h1>{{ poi_dict.prefixed_name }} {% if can_edit %}<a href="{% url "admin:pois_poi_change" poi_dict.id %}"><small><i class="fa fa-pencil-square-o" aria-hidden="true"></i></small></a>{% endif %}</h1>
            </div>
        </div>
        <div class="row mB20">
            <div class="col-md-6">
            {% if poi_dict.point %} 
                <div id="map" class="mapRes"></div>
                <p class="mT10 txt-demi-small"><a id="explore_viewport" href="#" data-toogle="tooltip" title="{% trans "explore the resources in the neighbourhood" %}"><i class="fa fa-map-o" aria-hidden="true"></i> {% trans "explore the resources in the neighbourhood" %}</a> - <span id="live-geolocation"></span></p>
            {% endif %}
            </div>
            <div class="col-md-6 mB20">
                <table class="table-card"><tbody>
                    {% if poitype %}
                        <tr><th>{% trans "Category" %}</th><td><a data-toogle="tooltip" class="alfa-blue-normal" href="{{ poitype.url }}" title="{% trans "list the resources" %} {% trans "of the category" %} {{ poitype.name }}">{{ poitype.name }}</a></td></tr>
                    {% endif %}
                    {% if poi_dict.host_name %}
                        <tr><th>{% trans "Hosted by" %}</th><td><a href="{{ poi_dict.host_url }}">{{ poi_dict.host_name }}</a></td></tr>
                    {% endif %}
                    {% if poi_dict.short %}
                        <tr><th>{% trans "Shortly" %}</th><td>{{ poi_dict.short }}</td></tr>
                    {% endif %}
                    {% if zone_list %}
                        <tr>
                            <th>{% trans "Zones" %}</th>
                            <td>{% for zone in zone_list %}
                                {% if not zone.code %}
                                    {% if zone.slug %}
                                        <a data-toogle="tooltip" class="alfa-blue-normal" href="/indice-zona/{{ zone.slug }}/" title="{% trans "list the resources" %} {% trans "located in the zone" %} {{ zone.name }}"><span class="notranslate"> {{ zone.name }}</span></a>
                                    {% else %}
                                        <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ zone.url }}" title="{% trans "list the resources" %} {% trans "located in the zone" %} {{ zone.name }}"><span class="notranslate">{{ zone.name }}</span></a>
                                    {% endif %}
                                    {% if not forloop.last %}<span>&bull;</span>{% endif %}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr><th>{% trans "Address" %}</th><td>{% if  poi_dict.street_url %}<a data-toogle="tooltip" class="alfa-blue-normal" href="{{ poi_dict.street_url }}" title="{% trans "list the resources" %} {% trans "located near" %} {{ poi_dict.street_address }}">{% endif %}{{ poi_dict.street_address }}{% if  poi_dict.street_url %}</a>{% endif %} - {{ poi_dict.cap }} {{ poi_dict.commune.1 }}</td></tr>
                    {% if poi_dict.phones %}
                        <tr><th>{% trans "Phone" %}</th>
                        <td>
                            {% for phone in poi_dict.phones %}
                                {{ phone }}{% if not forloop.last %}<span>&bull;</span>{% endif %}
                            {% endfor %}
                        </td>
                        </tr>
                    {% endif %}
                    {% if poi_dict.emails %}
                        <tr><th>E-mail</th>
                        <td>
                            {% for email in poi_dict.emails %}
                                <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ email.0 }}">{{ email.1 }}</a>
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td></tr>
                    {% endif %}
                    {% if poi_dict.webs %}
                        <tr><th >Web</th>
                        <td>
                            {% for web in poi_dict.webs %}
                                <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ web.0 }}" target="_blank">{{ web.1 }}</a>
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td></tr>
                    {% endif %}
                    {% set affiliation = poi_dict.affiliation %}
                    {% if affiliation %}
                        <tr><th>{% trans "Affiliation" %}</th>
                        <td>{% if affiliation.logo %}<img class="img-thumb-white" src="{{ affiliation.logo }} ">{% endif %}
                            <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ affiliation.url }}"  title="{% trans "Show the profile of"|lower %} {{ affiliation.name }}"><span class="notranslate">{{ affiliation.name }}</span></a>
                        </td></tr>
                    {% endif %}
                    {% if poi_list %}
                        <tr><th>{% trans "affiliated resources"|capfirst %}</th>
                        <td>{% if poi_list|length <= 8 %}
                            <div>{% for affiliated in poi_list %}
                                    <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ affiliated.url }}"><span class="notranslate">{{ affiliated.name }}</span></a>{% if not forloop.last %}<span>&bull;</span>{% endif %}
                            {% endfor %}</div>
                        {% endif %}
                        {% if poi_list|length >= 2 %}
                            <div><a data-toogle="tooltip" class="alfa-blue-normal" href="{{ poi_dict.url }}rete/">{% trans "show"|capfirst %} {% trans "a map of" %} {% trans "affiliated resources" %}</a></div>
                        {% endif %}
                        </td></tr>
                    {% endif %}
                    {% if hosted_list %}
                        <tr><th>{% trans "Hosted resources" %}</th>
                        <td>
                            {% for hosted in hosted_list %}
                                <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ hosted.url }}"><span class="notranslate">{{ hosted.name }}</span></a>{% if not forloop.last %}<span>&bull;</span>{% endif %}
                            {% endfor %}
                        </td></tr>
                    {% endif %}
                    {% comment %}
                    {% if n_caredby and n_caredby < 1000 %}
                        <tr><th>{% trans "network"|capfirst %}</th>
                        <td><a data-toogle="tooltip" class="alfa-blue-normal" href="{{ poi_dict.url }}mappa/">{% trans "show"|capfirst %} {% trans "a map of" %} {% trans "friend resources" %}</a></td>
                        </tr>
                    {% endif %}
                    {% endcomment %}
                </tbody></table>
                {% set careof = poi_dict.careof %}    
                {% if careof %}
                    <div class="txt-demi-small"><strong>{% trans "This profile care of" %}: </strong>
                        {% if careof.logo_url %}<a data-toogle="tooltip" href="{{ careof.web }}" title="{% trans "go to the website of" %} {{ careof.name }}"><img class="img-thumb-white" src="{{ careof.logo_url }}"></a>{% endif %}
                        <a data-toogle="tooltip" class="alfa-blue-normal" href="{{ careof.url }}" title="{% trans "Show the profile of"|lower %} {{ careof.name }}">{{ careof.name }}</a>
                    </div>
                {% endif %}
                <hr size="1" style="margin: 1px 0px;">
                {% if request.GET.comment %}
                    <div class="txt-demi-small mB10"><strong>{% trans "Thanks for your contribution" %}!</strong></div>
                {% else %}
                    <div class="txt-small mB10">{% trans "If the information in this page isn't correct, up-to-date and complete" %}, <a class="alfa-blue-normal" href="/annota-risorsa/{{ poi_dict.slug }}/">{% trans "send us a note" %}</a>. {% trans "Thanks" %}!</div>
                {% endif %}
            </div>
        </div>
        {% if poi_dict.description and poi_dict.video %}
            <div class="row">
                <div class="col-md-6"><div  class="boxround-small boxelenco e-content marg-bottom-10" style="padding:10px">{{ poi_dict.description|safe }}</div></div>
                <div class="col-md-6"><div class="flex-video widescreen mB10"><iframe src="{{ poi_dict.video.0 }}?autoplay=1" frameborder="0" allowfullscreen=""></iframe></div></div>
            </div>
        {% elif poi_dict.description %}
            <div class="row">
                <div class="col-md-12"><div class="boxround-small boxelenco mB10 p10">{{ poi_dict.description|safe }}</div></div>
            </div>
        {% elif poi_dict.video %}
            <div class="row">
                <div class="col-md-12"><div class="flex-video widescreen mB10"><iframe src="{{ poi_dict.video.0 }}?autoplay=1" frameborder="0" allowfullscreen=""></iframe></div></div>
            </div>
        {% endif %}
        {% if feeds %}
            <div class="row">
                <div class="col-md-12"><div class="portlet">
                    <ul class="feed">
                    {% for entry in feed.entries|slice:":3" %}
                    {% if entry.title %}
                        <li>
                            <div><a class="alfa-blue" href="{{ entry.link }}" target="_blank" title="{% trans "read the original article" %}">{{ entry.title }}</a></div>
                            <div class="p3">{{ entry.date }}</div>
                            {% if entry.summary %}
                                <div class="p3">{{ entry.summary|striptags|safe|truncatewords:80 }}</div>
                            {% else %}
                                <div class="p3">{{ entry.content|striptags|safe|truncatewords:80 }}</div>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div></div>
            </div>
        {% endif %}
    </div>
{% endblock content %}


{% block mapjs %}
{% if poi_dict.point %}
<script type="text/javascript" src="{% static "pois/pois_symbols.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/geoPosition.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/pois_map.js" %}" ></script>

<script type="text/javascript">

var poi_style = new OpenLayers.Style({
        'fillColor': '#FF0000',
        'fillOpacity': .0,
        'strokeColor': '${icon_color}',
        'strokeWidth': 1,
        'pointRadius': '${radius}',
        'label': '',
        'labelAlign': 'cm',
        'fontFamily': 'arial',
        'fontSize': '14px',
        'graphicName': '${icon_name}',
    },
    { 'context': {
        radius: function(feature) {
            return Math.max(5, 2 * (feature.layer.map.getZoom() - 8));
        }}
    }
);

var poi_style_selected = new OpenLayers.Style({
        'strokeWidth': 2,
        'label': '${name}',
    }
);    

var poi_style_map = new OpenLayers.StyleMap({
    'default': poi_style,
    'select': poi_style_selected,
});

function map_init(){
	map = new OpenLayers.Map('map', {
		projection: proj_OSM,
		// controls: [new OpenLayers.Control.Navigation(),],
	});
	map.div.oncontextmenu = function noContextMenu(e){return false;};
	map.addControl(new OpenLayers.Control.LayerSwitcher());
	map.addControl(new OpenLayers.Control.ScaleLine({geodesic: 'true'}));
{% include "pois/_layerGoogleMaps_js.html" %}
	var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
	map.addLayer(osm);
	// var blank = new OpenLayers.Layer("Blank", {isBaseLayer: true}); map.addLayer(blank);
	geojson_format = new OpenLayers.Format.GeoJSON();
	pois = new OpenLayers.Layer.Vector("Risorsa");
    // poi = geojson_format.read({{poi.point_OSM.geojson|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
    poi = geojson_format.read({{poi_dict.point|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
 	// poi.attributes = { id: {{poi.id}}, name: "{{poi.safe_name}}", type: "{{poi.poitype}}", icon_name: "{{poi.icon_name}}", icon_color: "{{poi.icon_color}}" };
 	poi.attributes = { id: {{poi_dict.id}}, name: "{{poi_dict.safe_name}}", icon_name: "{{poi_dict.icon}}", icon_color: "{{poi_dict.color}}" };
    pois.addFeatures(poi);
 	map.addLayer(pois);
	pois.styleMap = poi_style_map;
	for (var i = 0; i< map.controls.length; i++) {
		control = map.controls[i];
	    if (control.displayClass == "olControlNavigation")
	    	control.disableZoomWheel();
	    else if (control.displayClass == "olControlLayerSwitcher")
	    	control.destroy();
	}
	map.zoomToExtent(pois.getDataExtent());
	map.zoomTo(map.getZoom()-3);
	// map.zoomToExtent(vectors.getDataExtent());
}


function show_path(loc) {
	
	var lat_1 = loc.coords.latitude;
	var lon_1 = loc.coords.longitude;
	// var s = "http://muovi.roma.it/percorso/js?cr=1&cr_da=punto:({0},{1})&cr_a={2}";
	// var s = "http://muovi.roma.it/percorso/js?cp=1&da=punto:({0},{1})&a={2}";
	// address = "{{ poi_dict.street_name }}".replace(/ /g, '+')+'+'+"{{ poi_dict.number }}";
	address = "{{ poi_dict.street_address }}".replace(/ /g, '+');
	var url = s.format(lat_1, lon_1, address);
{% comment %}	
	var lat_2 = "{{poi.point.y}}";
	var lon_2 = "{{poi.point.x}}";
	var url = s.format(lat_1, lon_1, lat_2, lon_2);
{% endcomment %}	
	// window.open(url);
	var popup  = window.open("about:blank", "_blank"); // the about:blank is to please Chrome, and _blank to please Firefox
	popup.location = url;
}
function path_from_here() {
	  geoPosition.getCurrentPosition(show_path, location_error);
}
DX = 700; // 450.0;
DY = 400; // 250.0;
function lookup_location() {
    $(body).css('cursor','default');
    geoPosition.getCurrentPosition(explore_location, location_error);
}
function location_error() {
    alert('{% trans "cannot determine your current location" %}');
}
$(function() {
    if (geoPosition.init()) {
        $("#live-geolocation").html('<a href="#" onclick="lookup_location();return false"><i class="fa fa-location-arrow" aria-hidden="true"></i> {% trans "explore the zone around your current position" %}</a>');
    }
});
map_init();
</script>
{% endif %}
{% endblock mapjs %}

{% block body_scripts %}
<script type="text/javascript">
 $(document).ready(function() {
    $('#explore_viewport').click(function (event) {
        event.preventDefault();
        explore_viewport();
    });
});
</script>
{% endblock body_scripts %}