{% extends "fairvillage/fairvillage_base.html" %}
{% load staticfiles i18n set_var %}

{% block head_title %}{% if zone.zonetype_id == 3 %}{{ zone.code }} - {% elif zone.zonetype_id == 6 %}{{ zone.zonetype_label|capfirst }} {% endif %}{{ zone.name }}, {{zone.prefix|lower|capfirst}}{% endblock %}
{% block meta_description %}{% if zone.zonetype_id == 3 or zone.zonetype_id == 6 %}{{ zone.zonetype_label|capfirst }} {% endif %}{{ zone.name }}: {% trans "map of georeferenced resources" %}{% endblock meta_description %} 

{% block body_id %}zone_detail{% endblock %}
{% block content %}
    <div class="mT20"> 
        <div class="segnaposto">{{zone.prefix}}</div>
        <h1>{% if zone.zonetype_id == 3 %}{{ zone.code}} - {% elif zone.zonetype_id == 6 %}{{zone.zonetype_label|capfirst}} {% endif %}{{ zone.name }}
            {% if can_edit %}<a href="{% url "admin:pois_zone_change" zone.id %}"><small><i class="fa fa-pencil-square-o" aria-hidden="true"></i></small></a>{% endif %}
            {% if poi_dict_list %}<a href="/indice-zona/{{ zone.slug }}/" title="{% trans "show the resources by categories" %}" data-toogle="tooltip"><small><i class="fa fa-list" aria-hidden="true"></i></small></a>{% endif %}
        </h1>
        {% set urlprefix = 'zona' %}
        {% include 'pois/_fv_pois_zone_view_summary.html' %}
        {% if map %}
            <div class="row mB20">
                {% if poi_dict_list %}
                <div class="col-md-2 mR0">
                    <div class="boxround-small help-small">{{ help|safe }}</div>
                </div>
                <div class="col-md-10">
                    <div id="map" class="mapZones"></div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <div id="map" class="mapZones"></div>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if zone.zonetype_id != 2 %}
        <div><table class="table table-striped table-list"><tbody id="resources">
            {% for poi_dict in poi_dict_list %}{% include "pois/_fv_poi_list_item.html" %}
            {% empty %}
            <tr><td class="td-total-white">{% trans "No resource is present" %}.</td></tr>
            {% endfor %}
        </tbody></table></div>
        {% endif %}
    </div>
{% endblock content %}

{% block mapjs %}
{% if map %}
<script type="text/javascript" src="{% static "pois/CenteredCluster.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/patches_OL-popup-autosize.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/FeaturePopups.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/pois_symbols.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/geoPosition.js" %}" ></script>
<script type="text/javascript" src="{% static "pois/pois_map.js" %}" ></script>

<script type="text/javascript">
var json_zones = {};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}roma/js/geojson/{{ zone.safe_code }}.js"></script>

<script type="text/javascript">
var zone_style = new OpenLayers.Style({
'fillColor': 'white',
'fillOpacity': .5,
'strokeColor': '#777777',
'strokeWidth': 2,
'fontColor': '#FFFFFF',
'fontOpacity': 1.0,
'label': '${name}',
'strokeColor': '#232323',
});
var zone_style_map = new OpenLayers.StyleMap({
'default': zone_style,
});
var poi_style = new OpenLayers.Style({
'fillColor': '#FF0000',
'fillOpacity': .0, // .2,
'strokeColor': '${color}',
'strokeWidth': 2,
'pointRadius': '${radius}',
'label': '${count}',
'labelOutlineWidth': 1,
'fontColor': '#333333',
'fontSize': '12px',
'fontWeight': 'normal',
'graphicName': '${symbol}',
},
{ 'context': {
    radius: function(feature) {
        var radius = Math.max(5, 2 * (feature.layer.map.getZoom() - 8));
        var num = feature.attributes.count || 1;
        if (num>1) return Math.max(radius, Math.min(cluster_distance/2 + 2, radius * Math.sqrt(Math.sqrt(num))));
        else return radius;
    },
    symbol: function(feature) {
        var num = feature.attributes.count || 1;
        if (num>1) return 'circle';
        else return feature.attributes.icon_name;
    },
    color: function(feature) {
        var num = feature.attributes.count || 1;
        if (num>1) return feature.cluster[0].attributes.icon_color;
        else return feature.attributes.icon_color;
    },
    count: function(feature) {
        var num = feature.attributes.count || 1;
        if (num>1) return num;
        else return '';
    }
}
});
var poi_style_selected = new OpenLayers.Style({
'strokeWidth': 2,
'fontSize': '14px',
'cursor': 'pointer',
});
var poi_style_map = new OpenLayers.StyleMap({
'default': poi_style,
'select': poi_style_selected,
});

var map, geojson_format, pois;
var MAX_ZOOM = 16; // 15
var MAX_POIS = 100; // 200; // 300
var MIN_ZOOM = 12;
var cluster_distance = 15;
var centered_cluster_strategy = new OpenLayers.Strategy.CenteredCluster({distance:cluster_distance, threshold:2});
function map_init(){
    map = new OpenLayers.Map('map', {
        projection: proj_OSM,
        // eventListeners: {'moveend': on_move}
        eventListeners: {'moveend': set_viewport}
    });
    for (var i = 0; i< map.controls.length; i++) {
        if (map.controls[i].displayClass == "olControlNavigation") {
            map.controls[i].disableZoomWheel();
        }
    }
    map.div.oncontextmenu = function noContextMenu(e){return false;};
    // map.addControl(new OpenLayers.Control.MousePosition());
    map.addControl(new OpenLayers.Control.LayerSwitcher());
    map.addControl(new OpenLayers.Control.ScaleLine({geodesic: 'true'}));
{% include "pois/_layerGoogleMaps_js.html" %}
    var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
    map.addLayer(osm);
    geojson_format = new OpenLayers.Format.GeoJSON();
    vectors = new OpenLayers.Layer.Vector("Zone");
    {% if zone.zonetype_id == 0 or zone.zonetype_id == 1 or zone.zonetype_id == 3 or zone.zonetype_id == 6  or zone.zonetype_id == 7 %}
        vector = geojson_format.read(json_zones['{{ zone.safe_code }}'])[0];
    {% else %}
        vector = geojson_format.read({{zone.geom|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
    {% endif %}
    vector.attributes = { id:{{zone.id}}, name: "{{zone.code}}", description: "{{zone.name}}", type: 'zona'};
    vectors.addFeatures(vector);
    map.addLayer(vectors);
    vectors.styleMap = zone_style_map;
    // pois = new OpenLayers.Layer.Vector("Risorse");
    pois = new OpenLayers.Layer.Vector("{% trans "Resources" %}", { strategies: [centered_cluster_strategy]});
    {% if poi_dict_list %}
        {% for poi_dict in poi_dict_list %}
            {% if poi_dict.point %}
                poi = geojson_format.read({{poi_dict.point|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
                poi.attributes = { id: {{poi_dict.id}}, name: "{{poi_dict.safe_name}}".replace("&#39;", "'"), type: "{{poi_dict.category}}", icon_name: "{{poi_dict.icon}}", icon_color: "{{poi_dict.color}}", url: "{{poi_dict.url}}" };
                pois.addFeatures(poi);
            {% endif %}
        {% endfor %}
    {% endif %}
    map.addLayer(pois);
    pois.styleMap = poi_style_map;
    var fpControl = new OpenLayers.Control.FeaturePopups();
    fpControl.addLayer(pois, {
        templates: {
            // .name is attributes.name on features, and so on.
            hover: '${.name}',
            hoverList: '<b>${count} {% trans "Resources" %}</b><br>${html}',
            hoverItem: '${.name}<br>',
            // select: single & list
            single: '<div><h4>${.name}</h4></div><div><a href="${.url}">{% trans "show the resource profile" %}</a></div>',
            list: '<h4>${count} {% trans "Resources" %}</h4>${html}',
            // item: '<li><a href="${.url}" ${showPopup()}>${.name}</a></li>'
            item: '<li><a href="${.url}" title="{% trans "show the resource profile" %}">${.name}</a></li>'
        }
    });
    map.addControl(fpControl);
    /* MMR 20171205
    map.zoomToExtent(pois.getDataExtent());
    if(map.getZoom() > MAX_ZOOM)
        map.zoomTo(MAX_ZOOM);
    else
        set_viewport();
    */
    map.zoomToExtent(vectors.getDataExtent());
    set_viewport();
}

function set_viewport() {
	vp = map.getExtent().toArray();
	s = '/set_viewport?left={0}&bottom={1}&right={2}&top={3}';
	url = s.format(vp[0], vp[1], vp[2], vp[3]);
	$.getJSON(url, function (data) {
	})
}

map_init();
</script>
{% endif %}
{% endblock %}