{% load staticfiles i18n %}
<dl class="portletDX">
<dt>{% trans "partners"|upper %}</dt>
<dd><a data-toogle="tooltip" href="/risorsa/scuolemigranti/rete/" title="ScuoleMigranti"><img src="/media/logos/scuolemigranti.png" %}" alt="{% trans "logo of the ScuoleMigranti Network" %}"></a></dd>
<dd><a data-toogle="tooltip" href="/risorsa/biblioteche-di-roma/rete/" title="Biblioteche di Roma"><img src="/media/logos/biblio_roma.png" alt="logo Biblioteche di Roma" alt="{% trans "logo of Biblioteche di Roma" %}"></a></dd>
<dd><a data-toogle="tooltip" href="http://www.alfabetastudio.it/" target="_blank" title="AlfabetaStudio"><img src="/media/logos/alfabetastudio.png" alt="{% trans "logo of AlfabetaStudio" %}"></a></dd>
</dl>
{% comment %}
<dl style="margin-top:130px; border:none; padding:10px 0; background:#F1911F; color:white">
	<dd><div style="margin-bottom:5px; font-size:14px; font-weight:600">FAIRVillage for mobile</div><a rel="tooltip" href="https://play.google.com/store/apps/details?id=com.linkroma.fairvillage"><img src="{% static "fairvillage/img/google-play-badge.png" %}"></a></dd>
</dl>
{% endcomment %}