{% extends "roma/fairvillage_base.html" %}
{% load staticfiles i18n %}

{% block content %}
    <!--div class="row">
        <div class="col-lg-10" -->
          <div class="mT20">  
             {% block column-1 %}

              {% block placeholder-page %}{% endblock %}
                <h1>{% block title-page %}{% endblock %}</h1>
                {% comment %}{% block half-title %}{% endblock %}{% endcomment %}
                {% block content-page %}
                   {% block view-summary %}{% endblock %}
                   {% block no-view-map %}
                      {% block view-themes-map %}
                      	<div class="row">
                      		<div class="col-md-2">
                      			{% block help %}{% endblock %}
                      		</div>
                      		<div class="col-md-10">
                      			<div class="boxMap mB20">
             	                <div id="map_overview"></div>
                                {% block map %}{% endblock %}
                            </div>
                          </div>
                        </div> 
                      {% endblock %}
                      {% block view-only-map %}
                        <div class="boxMap mB20">
             	                   <div id="map_overview"></div>
                                 {% block onlymap %}{% endblock %}
                        </div>
                      {% endblock %}
                      {% block view-res-map-summary %}
                      	<div class="row">
                      		<div class="col-lg-6">
                      			<div class="boxMap mB20">
             	                   <div id="map_overview"></div>
                                 <div id="map" class="mapRes"></div>
                                 {% block resmap %}{% endblock %}
                      			</div>
                      		</div>
                      		<div class="col-lg-6">
                      			{% block res-summary %}{% endblock %}
                      		</div>
                      	</div>
                      {% endblock %}
                   {% endblock %}
                   {% block list %}
                   {% endblock %}
                {% endblock %}
             {% endblock %}
             {% block portlets %}
             <div class="row">
                  <div class="col-lg-4">
                       {% block column-1-1 %}
                       {% endblock %}
                  </div>	
                  <div class="col-lg-4">
                       {% block column-1-2 %}
                       {% endblock %}
                  </div>
                  <div class="col-lg-4">
                       {% block column-1-3 %}
                       {% endblock %}
                  </div>
             </div>
          {% endblock %}
                     
          </div>
                  {% comment %}
        </div>

        <div class="col-lg-2" style="padding-bottom:20px; box-shadow: -2px 3px 4px rgba(163, 104, 188, 0.6);">
          {% block column-2 %}
            <div style="padding: 5px;">{% include 'fairvillage/partners.html' %}</div>
          {% endblock %}
      </div>

    </div>
          {% endcomment %}
{% endblock %}
